@layer syntax-highlight-element {
  syntax-highlight {
    --color-bg: #f6f8fa;
    --color-fg: #1f2328;

    /* --color-prettylights-syntax-brackethighlighter-angle: #59636e;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa; */
    --color-prettylights-syntax-comment: #59636e;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-entity-tag: #0550ae;
    /* --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa; */
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-markup-bold: #f0f6fc;
    /* --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-changed-text: #953800; */
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-heading: #0550ae;
    /* --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-markup-ignored-text: #d1d9e0; */
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-italic: #f0f6fc;
    /* --color-prettylights-syntax-markup-list: #3b2300; */
    --color-prettylights-syntax-meta-diff-range: #8250df;
    /* --color-prettylights-syntax-storage-modifier-import: #f0f6fc; */
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-string-regexp: #116329;
    /* --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98; */
    --color-prettylights-syntax-variable: #953800;

    display: inline-flex;
    font-family: monospace;
    white-space: pre;
    tab-size: 2;
    hyphens: none;
    line-height: 1.6;
    overflow: auto;

    background-color: var(--color-bg);
    color: var(--color-fg);
  }

  @media (prefers-color-scheme: dark) {
    syntax-highlight {
      --color-bg: #151b23;
      --color-fg: #f0f6fc;

      /* --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
      --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
      --color-prettylights-syntax-carriage-return-bg: #b62324;
      --color-prettylights-syntax-carriage-return-text: #f0f6fc; */
      --color-prettylights-syntax-comment: #9198a1;
      --color-prettylights-syntax-constant: #79c0ff;
      --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
      --color-prettylights-syntax-entity: #d2a8ff;
      --color-prettylights-syntax-entity-tag: #7ee787;
      /* --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
      --color-prettylights-syntax-invalid-illegal-text: #f0f6fc; */
      --color-prettylights-syntax-keyword: #ff7b72;
      --color-prettylights-syntax-markup-bold: #f0f6fc;
      /* --color-prettylights-syntax-markup-changed-bg: #5a1e02;
      --color-prettylights-syntax-markup-changed-text: #ffdfb6; */
      --color-prettylights-syntax-markup-deleted-bg: #67060c;
      --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
      --color-prettylights-syntax-markup-heading: #1f6feb;
      /* --color-prettylights-syntax-markup-ignored-bg: #1158c7;
      --color-prettylights-syntax-markup-ignored-text: #f0f6fc; */
      --color-prettylights-syntax-markup-inserted-bg: #033a16;
      --color-prettylights-syntax-markup-inserted-text: #aff5b4;
      --color-prettylights-syntax-markup-italic: #f0f6fc;
      /* --color-prettylights-syntax-markup-list: #f2cc60; */
      --color-prettylights-syntax-meta-diff-range: #d2a8ff;
      /* --color-prettylights-syntax-storage-modifier-import: #f0f6fc; */
      --color-prettylights-syntax-string: #a5d6ff;
      --color-prettylights-syntax-string-regexp: #7ee787;
      /* --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d; */
      --color-prettylights-syntax-variable: #ffa657;
    }
  }

  /*
   * INFO:
   * (1.) Currently not a supported property for the highlight pseudo-elements.
   * Full list of supported properties: https://drafts.csswg.org/css-pseudo-4/#highlight-styling
   * More infos: https://github.com/w3c/csswg-drafts/issues/8355
   */

  ::highlight(punctuation),
  ::highlight(number),
  ::highlight(atrule) {
    color: var(--color-fg);
  }

  ::highlight(namespace) {
    opacity: 0.7;
  }

  ::highlight(comment),
  ::highlight(prolog),
  ::highlight(doctype),
  ::highlight(cdata) {
    color: var(--color-prettylights-syntax-comment);
  }

  ::highlight(constant),
  ::highlight(attr-name),
  ::highlight(char),
  ::highlight(builtin),
  ::highlight(operator) {
    color: var(--color-prettylights-syntax-constant);
  }

  ::highlight(property),
  ::highlight(tag),
  ::highlight(boolean),
  ::highlight(symbol) {
    color: var(--color-prettylights-syntax-entity-tag);
  }

  ::highlight(entity),
  ::highlight(selector),
  ::highlight(class-name),
  ::highlight(function) {
    color: var(--color-prettylights-syntax-entity);
  }

  ::highlight(keyword),
  ::highlight(rule) {
    color: var(--color-prettylights-syntax-keyword);
  }

  ::highlight(string),
  ::highlight(attr-value) {
    color: var(--color-prettylights-syntax-string);
  }

  ::highlight(variable) {
    color: var(--color-prettylights-syntax-variable);
  }

  ::highlight(regex) {
    font-weight: bold; /* (1.) */
    color: var(--color-prettylights-syntax-string-regexp);
  }

  ::highlight(italic) {
    font-style: italic; /* (1.) */
    color: var(--color-prettylights-syntax-markup-italic);
  }
  ::highlight(bold) {
    font-weight: bold; /* (1.) */
    color: var(--color-prettylights-syntax-markup-bold);
  }

  ::highlight(deleted) {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
  }

  ::highlight(inserted) {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
  }

  ::highlight(url) {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
  }

  ::highlight(important) {
    color: var(--color-prettylights-syntax-markup-heading);
  }

  /* CSS language overwrites */
  ::highlight(css-important) {
    color: var(--color-prettylights-syntax-keyword);
  }
}
