@layer syntax-highlight-element {
  :root {
    --she-prettylights-bg: #f6f8fa;
    --she-prettylights-fg: #1f2328;

    /* --she-prettylights-brackethighlighter-angle: #59636e;
    --she-prettylights-brackethighlighter-unmatched: #82071e;
    --she-prettylights-carriage-return-bg: #cf222e;
    --she-prettylights-carriage-return-text: #f6f8fa; */
    --she-prettylights-comment: #59636e;
    --she-prettylights-constant: #0550ae;
    --she-prettylights-constant-other-reference-link: #0a3069;
    --she-prettylights-entity: #6639ba;
    --she-prettylights-entity-tag: #0550ae;
    /* --she-prettylights-invalid-illegal-bg: #82071e;
    --she-prettylights-invalid-illegal-text: #f6f8fa; */
    --she-prettylights-keyword: #cf222e;
    --she-prettylights-bold: #f0f6fc;
    /* --she-prettylights-changed-bg: #ffd8b5;
    --she-prettylights-changed-text: #953800; */
    --she-prettylights-deleted-bg: #ffebe9;
    --she-prettylights-deleted-text: #82071e;
    --she-prettylights-heading: #0550ae;
    /* --she-prettylights-ignored-bg: #0550ae;
    --she-prettylights-ignored-text: #d1d9e0; */
    --she-prettylights-inserted-bg: #dafbe1;
    --she-prettylights-inserted-text: #116329;
    --she-prettylights-italic: #f0f6fc;
    /* --she-prettylights-list: #3b2300; */
    /* --she-prettylights-meta-diff-range: #8250df; */
    /* --she-prettylights-storage-modifier-import: #f0f6fc; */
    --she-prettylights-string: #0a3069;
    --she-prettylights-string-regexp: #116329;
    --she-prettylights-variable: #953800;

    @media (prefers-color-scheme: dark) {
      --she-prettylights-bg: #151b23;
      --she-prettylights-fg: #f0f6fc;

      /* --she-prettylights-brackethighlighter-angle: #9198a1;
        --she-prettylights-brackethighlighter-unmatched: #f85149;
        --she-prettylights-carriage-return-bg: #b62324;
        --she-prettylights-carriage-return-text: #f0f6fc; */
      --she-prettylights-comment: #9198a1;
      --she-prettylights-constant: #79c0ff;
      --she-prettylights-constant-other-reference-link: #a5d6ff;
      --she-prettylights-entity: #d2a8ff;
      --she-prettylights-entity-tag: #7ee787;
      /* --she-prettylights-invalid-illegal-bg: #8e1519;
        --she-prettylights-invalid-illegal-text: #f0f6fc; */
      --she-prettylights-keyword: #ff7b72;
      --she-prettylights-bold: #f0f6fc;
      /* --she-prettylights-changed-bg: #5a1e02;
        --she-prettylights-changed-text: #ffdfb6; */
      --she-prettylights-deleted-bg: #67060c;
      --she-prettylights-deleted-text: #ffdcd7;
      --she-prettylights-heading: #1f6feb;
      /* --she-prettylights-ignored-bg: #1158c7;
        --she-prettylights-ignored-text: #f0f6fc; */
      --she-prettylights-inserted-bg: #033a16;
      --she-prettylights-inserted-text: #aff5b4;
      --she-prettylights-italic: #f0f6fc;
      /* --she-prettylights-list: #f2cc60; */
      /* --she-prettylights-meta-diff-range: #d2a8ff; */
      /* --she-prettylights-storage-modifier-import: #f0f6fc; */
      --she-prettylights-string: #a5d6ff;
      --she-prettylights-string-regexp: #7ee787;
      --she-prettylights-variable: #ffa657;
    }
  }

  syntax-highlight {
    background-color: var(--she-prettylights-bg);
    color: var(--she-prettylights-fg);
    display: inline-flex;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    white-space: pre;
    tab-size: 2;
    hyphens: none;
    line-height: 1.6;
    overflow: auto;
  }

  /*
   * INFO:
   * (1.) Currently not a supported property for the highlight pseudo-elements.
   * Full list of supported properties: https://drafts.csswg.org/css-pseudo-4/#highlight-styling
   * More infos: https://github.com/w3c/csswg-drafts/issues/8355
   */

  ::highlight(punctuation),
  ::highlight(number),
  ::highlight(atrule) {
    color: var(--she-prettylights-fg);
  }

  ::highlight(namespace) {
    opacity: 0.7;
  }

  ::highlight(comment),
  ::highlight(prolog),
  ::highlight(doctype),
  ::highlight(cdata) {
    color: var(--she-prettylights-comment);
  }

  ::highlight(constant),
  ::highlight(attr-name),
  ::highlight(char),
  ::highlight(builtin),
  ::highlight(operator) {
    color: var(--she-prettylights-constant);
  }

  ::highlight(property),
  ::highlight(tag),
  ::highlight(boolean),
  ::highlight(symbol) {
    color: var(--she-prettylights-entity-tag);
  }

  ::highlight(entity),
  ::highlight(selector),
  ::highlight(class-name),
  ::highlight(function) {
    color: var(--she-prettylights-entity);
  }

  ::highlight(keyword),
  ::highlight(rule) {
    color: var(--she-prettylights-keyword);
  }

  ::highlight(string),
  ::highlight(attr-value) {
    color: var(--she-prettylights-string);
  }

  ::highlight(variable) {
    color: var(--she-prettylights-variable);
  }

  ::highlight(regex) {
    font-weight: bold; /* (1.) */
    color: var(--she-prettylights-string-regexp);
  }

  ::highlight(italic) {
    font-style: italic; /* (1.) */
    color: var(--she-prettylights-italic);
  }
  ::highlight(bold) {
    font-weight: bold; /* (1.) */
    color: var(--she-prettylights-bold);
  }

  ::highlight(deleted) {
    color: var(--she-prettylights-deleted-text);
    background-color: var(--she-prettylights-deleted-bg);
  }

  ::highlight(inserted) {
    color: var(--she-prettylights-inserted-text);
    background-color: var(--she-prettylights-inserted-bg);
  }

  ::highlight(url) {
    text-decoration: underline;
    color: var(--she-prettylights-constant-other-reference-link);
  }

  ::highlight(important) {
    color: var(--she-prettylights-heading);
  }

  /* CSS language overwrites */
  ::highlight(css-important) {
    color: var(--she-prettylights-keyword);
  }
}
